@import "tailwindcss";

:root {
  --background: rgb(244, 242, 238);
  --foreground: rgb(244, 242, 238);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(244, 242, 238);
    --foreground: rgb(244, 242, 238);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
